.container.pt-4
  .d-flex.align-items-center
    %h1.fs-4.mb-3.me-3 食品詳細
    = link_to '編集', edit_admins_food_path(@food), class: 'btn btn-primary mb-3'

  .card
    .card-body
      .mb-3
        %p.mb-1= t('activerecord.attributes.food.name')
        %p.mb-0= @food.name
      .mb-3
        %p.mb-1= t('activerecord.attributes.food.description')
        %p.mb-0= @food.description
      .mb-3
        %p.mb-1= t('activerecord.attributes.food.price_without_tax')
        %p.mb-0= number_to_currency(@food.price_without_tax)
      .mb-0
        %p.mb-1= t('activerecord.attributes.food.published')
        %p.mb-0= @food.published

  = link_to '戻る', admins_foods_path, class: 'btn btn-secondary mt-3'
